<%- include('../partial/header') %> 
<%- include('../partial/navbar') %> 
<%- include('../partial/navside') %>
<div class="content-side col-lg-10 col-sm-9" >
    <% if (locals.classData) { %> 
        <!-- Update Class Data -->
    <h2 class="text-center my-3 mb-4">Update Kelas <%= classData.className %> </h2>
    <form action="/update-class?_method=PUT" method="POST">
        <input type="text" hidden name="id" value="<%= classData._id %> ">
        <div class="row row-cols-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-sm-12 mx-4">
                <div class="row mb-3">
                    <label for="Class" class="form-label col-3">Nama Kelas</label>
                    <div class="col-9">
                        <input class="form-control" type="text" name="class" id="class" value="<%= classData.className %>">
                    </div>
                    <div class="custom-valid mb-3" id="className-valid">
                        <!-- Default Error -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="Lesson" class="form-label col-3">Mata Pelajaran</label>
                    <div class="col-9">
                        <input class="form-control" type="text" name="lesson" id="lesson" value="<%= classData.lesson %>">
                    </div>
                    <div class="custom-valid mb-3" id="lesson-valid">
                        <!-- Default Error -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="studentNum" class="form-label col-3">Jumlah Murid</label>
                    <div class="col-4">
                        <input class="form-control" type="number" name="studentNum" id="studentNum" value="<%= classData.studentsNum %>">
                    </div>
                    <div class="custom-valid mb-3" id="studentsNum-valid">
                        <!-- Default Error -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="teacher" class="form-label col-3">Nama Guru</label>
                    <div class="col-9">
                        <input class="form-control" type="text" name="teacher" id="teacher" value="<%= classData.teacher %>">
                    </div>
                    <div class="custom-valid mb-3" id="teacher-valid">
                        <!-- Default Error -->
                    </div>
                </div>
                <div class="row mb-3">
                    <button type="submit" class="btn btn-success class-update">Perbarui</button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </form>

    <% } else { %> 

        <!-- Input Class Data -->
        <h2 class="text-center my-3 mb-4">Form Input Kelas</h2>
        <form action="/inputClass" method="POST">
            <div class="row">
                <div class=" col-lg-2"></div>
                <div class="col-lg-8 col-sm-12 mx-4">
                    <div class="row mb-3">
                        <label for="Class" class="form-label col-3">Nama Kelas</label>
                        <div class="col-9">
                            <input class="form-control" type="text" name="class" id="class" >
                        </div>
                        <div class="custom-valid mb-3" id="className-valid">
                            <!-- Default Error -->
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Lesson" class="form-label col-3">Mata Pelajaran</label>
                        <div class="col-9">
                            <input class="form-control" type="text" name="lesson" id="lesson" >
                        </div>
                        <div class="custom-valid mb-3" id="lesson-valid">
                            <!-- Default Error -->
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="studentNum" class="form-label col-3">Jumlah Murid</label>
                        <div class="col-4">
                            <input class="form-control" type="number" name="studentNum" id="studentNum" >
                        </div>
                        <div class="custom-valid mb-3" id="studentsNum-valid">
                            <!-- Default Error -->
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="teacher" class="form-label col-3">Nama Guru</label>
                        <div class="col-9">
                            <input class="form-control" type="text" name="teacher" id="teacher" >
                        </div>
                        <div class="custom-valid mb-3" id="teacher-valid">
                            <!-- Default Error -->
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button type="submit" class="btn btn-success class-submit">Masukkan</button>
                    </div>
                </div>
                <div class=" col-lg-2"></div>
            </div>
        </form>
    <% } %> 
</div>

<script src="inputClassScript.js"></script>

<%- include('../partial/footer') %> 