<%- include('../partial/header') %> 

<%- include('../partial/navbar') %> 

<%- include('../partial/navside') %>

        <!-- KONTEN START -->
        <div class="content-side  col-lg-10 col-sm-9" >
            <h2 class="text-center my-3">Selamat Datang Cloudias</h2>
            <h5 class="mt-5">A. BIODATA</h5>
            <div class="text-center my-4">
                <img src="/image/profil.png" alt="gambar profil" class="dashboard-image">
            </div>

            <table class="table table-bordered dashboard-table table-hover">
                <tbody>
                <tr>
                    <th scope="row" class="">NISN</th>
                    <td class="">1234567890</td>
                </tr>
                <tr>
                    <th scope="row" class="">Nama</th>
                    <td class="">Cloudias Imani Pradana</td>
                </tr>
                <tr>
                    <th scope="row" class="">Kelas</th>
                    <td class="">XI (Sebelas)</td>
                </tr>
                <tr>
                    <th scope="row" class="">Alamat</th>
                    <td class="">Ds. Mana Kec. Sama Kab. Siapa-912873</td>
                </tr>
            </tbody>
            </table>

            <h5 class="mt-5">B. Daftar Kelas</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="">No</th>
                        <th class="">Nama Kelas</th>
                        <th class="">Mata Pelajaran</th>
                        <th class="">Guru</th>
                        <th class="">jumlah Siswa</th>
                        <th class="">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i =1; %> 
                    <% classList.forEach(clas => {%> 
                    <tr>
                        <td><%= i %> </td>
                        <td> <a href="/classPage/<%=clas._id%>"><%= clas.className %></a></td>
                        <td> <%= clas.lesson %> </td>
                        <td> <%= clas.teacher %> </td>
                        <td> <%= clas.studentsNum %> </td>
                        <td>
                            <a href="/update-class/<%=clas._id%>" class="btn btn-primary update-class">Edit</a>
                            <button id="<%= clas._id %>" class="btn btn-danger delete-class">Delete</button>
                        </td>
                    </tr>
                    <% i++; }); %> 
                </tbody>
            </table>
        </div>
        <!-- KONTEN END -->
    </div>

    <script src="profilePageScript.js"></script>
<%- include('../partial/footer') %> 